
cd your/python/workspace
python -m venv venv
pip install numpy scipy matplotlib rerun_sdk
sudo apt-get -y install     libclang-dev     libatk-bridge2.0     libfontconfig1-dev     libfreetype6-dev     libglib2.0-dev     libgtk-3-dev     libssl-dev     libxcb-render0-dev     libxcb-shape0-dev     libxcb-xfixes0-dev     libxkbcommon-dev     patchelf
sudo add-apt-repository ppa:kisak/kisak-mesa
sudo apt-get update
sudo apt-get install -y mesa-vulkan-drivers
WAYLAND_DISPLAY= python eval.py pose_data.csv pose_metadata.csv
